@model acilsat_RB.Models.Users

@{
    ViewBag.Title = "UsersProfile";
}

﻿
@{ ViewBag.Title = "UserProfile"; }

<head>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div>
                    <h2>Profil Sekmesi</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic" style="display:block !important;">
                                    <img src="~/Assets/img/blog/details/details-author.jpg" alt="">
                                </div>
                                <div class="blog__details__author__text" style="display:block !important;">
                                    <h6>@Html.DisplayFor(model => model.name)  @Html.DisplayFor(model => model.surName) </h6>
                                    <span>@Html.DisplayFor(model => model.userCity)</span>
                                </div>
                            </div>
                        </div>



                        <div id="edit" style="margin-top:106px; width:100%;">
                            <h3>Profili Düzenle</h3>
                            <hr />
                            <div class="form" data-aos="fade-up">

                                <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Users/Update/@HttpContext.Current.Request.Cookies["ActiveUser"]["id"]">
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-3">E-Mail <span class="required">*</span></label>
                                        <div class="col-lg-9">
                                            @Html.TextBoxFor(x => x.eMail, new { @name = "", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cemail" class="control-label col-lg-3">Telefon <span class="required">*</span></label>
                                        <div class="col-lg-9">
                                            @Html.TextBoxFor(x => x.userPhone, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="curl" class="control-label col-lg-3">Şehir</label>
                                        <div class="col-lg-9">
                                            @Html.TextBoxFor(x => x.userCity, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="ccomment" class="control-label col-lg-3">Resim</label>
                                        <div class="col-lg-9">
                                            <input type="file" name="userImage" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-4 col-lg-10">
                                            <button class="btn btn-primary" type="submit">Kaydet</button>
                                            <button class="btn btn-danger" type="button">Vazgeç</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>




                    </div>
                </div>




            </div>
            <div class="col-lg-7 col-md-6">
                <div class="product__details__text">


                    <div class="product__details__price">
                        <a class="btn btn-success" href="~/Products/ProductAdd"><i class="fa fa-dollar"></i> &nbsp;Ürün Sat</a>
                        <a class="btn btn-info" href="#edit"><i class="fa fa-cog"></i> &nbsp; Profili Düzenle</a>
                        <a class="btn btn-danger" href="/Users/Logout"><i class="fa fa-sign-out"></i> &nbsp;Oturumu Kapat</a>

                    </div>


                </div>
                <hr />

                @Html.Action("UserSellList","Users")

            </div>


        </div>
    </div>


</section>
<!-- Product Details Section End -->
